name: Python Package using Conda

on:
  push:
  pull_request:

jobs:
  build-linux:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}

    steps:
    - uses: actions/checkout@v4
    - uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        auto-activate-base: false
    - name: Install dependencies
      run: |
        wget -q https://raw.githubusercontent.com/qiime2/distributions/dev/2025.7/tiny/released/qiime2-tiny-ubuntu-latest-conda.yml
        conda env create -q -n test-env --file qiime2-tiny-ubuntu-latest-conda.yml
        conda activate test-env
        conda install -y flake8 pytest
        pip install -e . --no-deps
    - name: Lint with flake8
      run: |
        conda activate test-env
        flake8 q2_katharoseq
    - name: Test with pytest
      run: |
        conda activate test-env
        pytest

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Lint with flake8
      run: |
        pip install -q flake8
        flake8 q2_katharoseq
